@model Acme.DrawLanding.Library.Common.Pagination.ResultPaginatedByOffset<Acme.DrawLanding.Library.Domain.Submissions.Submission>
@{
    Layout = "_Layout";
}

<h2>Submissions</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">@nameof(Acme.DrawLanding.Library.Domain.Submissions.Submission.FirstName)</th>
            <th scope="col">@nameof(Acme.DrawLanding.Library.Domain.Submissions.Submission.LastName)</th>
            <th scope="col">@nameof(Acme.DrawLanding.Library.Domain.Submissions.Submission.Email)</th>
            <th scope="col">@nameof(Acme.DrawLanding.Library.Domain.Submissions.Submission.SerialNumber)</th>
            <th scope="col">@nameof(Acme.DrawLanding.Library.Domain.Submissions.Submission.SubmittedAt)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var submissions in Model.Items)
        {
            <tr>
                <th scope="row">@submissions.Id</th>
                <td>@submissions.FirstName</td>
                <td>@submissions.LastName</td>
                <td>@submissions.Email</td>
                <td>@submissions.SerialNumber</td>
                <td>@submissions.SubmittedAt</td>
            </tr>
        }
    </tbody>
</table>

@if (Model.TotalPages > 1)
{
    <p>Viewing @Model.Items.Count items out of @Model.TotalItems.</p>

    <nav>
        <ul class="pagination">

            @{
                var pageSizeQuery = Model.Pagination.PageSize != 10 ? $"pageSize={Model.Pagination.PageSize}" : string.Empty;
            }

            <li class="page-item"><a class="page-link" href="@(pageSizeQuery != string.Empty ? $"?{pageSizeQuery}" : string.Empty)">1</a></li>

            @for (var i = 2; i <= Model.TotalPages; i++)
            {
                var query = $"?pageNumber={i}";

                if (pageSizeQuery != string.Empty)
                {
                    query += $"&{pageSizeQuery}";
                }

                @if (Model.Pagination.PageNumber == i)
                {
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="@query">@i</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="@query">@i</a>
                    </li>
                }
            }

        </ul>
    </nav>
}
